*{
    margin: 0;
    padding: 0;
    list-style: none;
    background-image: url(..//Fundoteste.png);
}

#Tela{
    background-image: url(..//Bebida.jpg);
    text-align: center;
    height: 1400px;
    width: 1400px;
    margin: 0;
}
