*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: rgb(255, 165, 0);
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 1414px;
    height: 2000px;
}

.video{
    margin-left: 0px;
    position: absolute;
    margin: 0px;
    width: 1414px;
    height: 2000px;
    background-image: url(..//Pastel.png);
}
