*{
    margin: 0;
    padding: 0;
    list-style: none;
    background-image: url(..//Fundoteste.png);
}

.Tela{
    background-image: url(..//Pastel.png);
    width: 1414px;
    height: 2000px;
}

.Tag{
    background: rgba(0, 0, 255, 0);
    width: 430px;
    height: 420px;
    margin-top: -750px;
    margin-left: 850px;
}
