*{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ffa500;
}

#Tela{
    width: 1414px;
    height: 2000px;
    background-image: url(..//Hambúrguer.png);
    text-align: center;
    margin: 0;
    padding: 0;
}