*{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background-color: #ffa500;
    text-align: center;
}

#Tela{
    width: 600px;
    height: 300px;
    position: relative;
    margin: -55px auto;
    background:url("../FTLgc1.png");
}

.Quadro1{
    width: 400px;
    height: 350px;
    position: absolute;
    margin: 390px auto;
    margin-left: 120px;
    text-align: center;
    border-radius: 5px;
    background:url("../FTHamburger.png");
}

.Quadro1:hover{
    box-shadow: 0 0 20px white;
}

.hamburguer{
    width: 400px;
    height: 50px;
    position: absolute;
    margin: 350px auto;
    margin-left: 120px;
    text-align: center;
    border-radius: 5px;
    background:black;
}

.Pastel{
    width: 400px;
    height: 50px;
    position: absolute;
    margin: 800px auto;
    margin-left: 120px;
    text-align: center;
    border-radius: 5px;
    background:black;
}

.Quadro2{
    width: 400px;
    height: 350px;
    position: absolute;
    margin: 840px auto;
    margin-left: 120px;
    text-align: center;
    border-radius: 5px;
    background:url("../FTPastel.png");
}

.Quadro2:hover{
    box-shadow: 0 0 20px white;
}

.Bebidas{
    width: 400px;
    height: 50px;
    position: absolute;
    margin: 1250px auto;
    margin-left: 120px;
    text-align: center;
    border-radius: 5px;
    background:black;
}

.Quadro3{
    width: 400px;
    height: 350px;
    position: absolute;
    margin: 1290px auto;
    margin-left: 120px;
    text-align: center;
    border-radius: 5px;
    background:url("../FTBebida.png");
}

.Quadro3:hover{
    box-shadow: 0 0 20px white;
}

h1{
    color:orange
}
