*{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background-image: url(../Fundoteste.png);
    text-align: center;
}

#Tela{
    width: 600px;
    height: 300px;
    position: relative;
    margin: -55px auto;
    background:url("../FTLgc1.png");
}

.Quadro1{
    width: 400px;
    height: 350px;
    position: absolute;
    margin: 45px auto;
    margin-left: 120px;
    text-align: center;
    border-radius: 5px;
    background:url("../FTHamburger.png");
}

.Quadro1:hover{
    box-shadow: 0 0 20px white;
}

.hamburguer{
    width: 400px;
    height: 50px;
    position: absolute;
    margin: 0px auto;
    margin-left: 120px;
    text-align: center;
    border-radius: 5px;
    background:black;
}

.Pastel{
    width: 400px;
    height: 50px;
    position: absolute;
    margin: 410px auto;
    margin-left: 120px;
    text-align: center;
    border-radius: 5px;
    background:black;
}

.Quadro2{
    width: 400px;
    height: 350px;
    position: absolute;
    margin: 455px auto;
    margin-left: 120px;
    text-align: center;
    border-radius: 5px;
    background:url("../FTPastel.png");
}

.Quadro2:hover{
    box-shadow: 0 0 20px white;
}

.Bebidas{
    width: 400px;
    height: 50px;
    position: absolute;
    margin: 830px auto;
    margin-left: 120px;
    text-align: center;
    border-radius: 5px;
    background:black;
}

.Quadro3{
    width: 400px;
    height: 350px;
    position: absolute;
    margin: 865px auto;
    margin-left: 120px;
    text-align: center;
    border-radius: 5px;
    background:url("../FTBebida.png");
}

.Quadro3:hover{
    box-shadow: 0 0 20px white;
}

h1{
    color:orange;
}

@media screen and (min-widht: 768px){

    Tela{
        flex-direction: row;
        justify-content: space-around;
    }

    body{
        flex-direction: row;
        width: 70%;

}